{{!

Data: 
name - title for the slide/page
text - description of the code (HTML markup)
code - (required) an object or list of objects of the form {code, lang}, or a string
     - the code will be escaped, NOT treated as markup
     - the lang will be set as a class
index - slide number
class - added CSS class(es)
css - added custom CSS

}}
<div class="slide code-snippet {{class}}" {{#index}}
     data-slide-name="{{name}}"
     data-slide-index="{{.}}"{{/index}}>
    {{#css}}<style>
{{{.}}}
    </style>{{/css}}
    {{#text}}
    <p>
        {{{.}}}
    </p>
    {{/text}}
    {{#code}}
    <pre {{#lang}}data-code-lang="{{.}}"{{/lang}}><code>{{code}}</code></pre>
    {{/code}}
</div>