{{!

Data: 
text -  (required) slide content (HTML markup for inside a paragraph)
        can be a list, for multiple paragraphs
index - slide number
class - added CSS class(es)
css - added custom CSS

}}
<div class="slide default {{class}}" {{#index}}
     data-slide-index="{{.}}"{{/index}}>
    {{#css}}<style>
{{{.}}}
    </style>{{/css}}
    {{#text}}<p>
        {{{.}}}
    </p>{{/text}}
</div>