{{!

Data: 
term - (required) the term being defined (markup)
text - (required) body of the definition (HTML markup for inside a paragraph)
        can be a list, for multiple paragraphs
index - slide number
class - added CSS class(es)
css - added custom CSS

}}
<div class="slide definition {{class}}" {{#index}}
     data-slide-index="{{.}}"{{/index}}>
    {{#css}}<style>
{{{.}}}
    </style>{{/css}}
    <dfn>{{{term}}}</dfn>
    {{#text}}<p>
        {{{.}}}
    </p>{{/text}}
</div>