<!DOCTYPE html>
<html lang="{{site.lang}}{{^site.lang}}en{{/site.lang}}">
<head>
    <meta charset="UTF-8" />
    <title>{{page.name}} — {{site.title}}</title>
    <link rel="stylesheet" href="../slides.css" />
    <meta itemprop="scope" content="{{site.scope}}" />
</head>
<body>
{{#page}}
<main>
    <div id="error" tabindex="-1" role="alertdialog" aria-hidden="true"></div>
    {{{content}}}
    <nav class="slide-links">
        <a id="next-slide-link" class="slide-link"
            data-slides-swap="preload"
            {{#next}}href="../{{slug}}/"{{/next}}{{^next}}style="display: none"{{/next}}
            >Next</a>
        <a id="previous-slide-link" class="slide-link"
            data-slides-swap="preload"
            {{#previous}}href="../{{slug}}/"{{/previous}}{{^previous}}style="display: none"{{/previous}}
            >Previous</a>
    </nav>
</main>
{{/page}}
<footer>
    <nav class="toggle-menu" aria-label="All slides">
        <input id="toc-toggle" class="toggle-control" type="checkbox" style="display: none /* without CSS*/" />
        <label id="toc-toggle-open" class="toggle-button open"
            for="toc-toggle" style="display: none /* without CSS*/" >
            Jump to slide…
        </label>
        <ol id="toc" class="popup-menu">
            {{#allSlides}}
            <li><a {{^current}}href="../{{slug}}/" data-slides-swap=""
                {{/current}}{{#current}}aria-current="page"
                {{/current}}>{{name}}</a></li>
            {{/allSlides}}
        </ol>
        <label id="toc-toggle-close" class="toggle-button close"
            for="toc-toggle" style="display: none /* without CSS*/" >
            <span aria-hidden="true">✖</span> Close menu
        </label>
    </nav>
</footer>
<script src="../slides.js"></script>
</body>
</html>