{{!

Data: 
name - title for the slide/page
text - description/introductory phrase (HTML markup)
list - (required) a list of HTML markup strings
ordered - true if this should be an ordered list
index - slide number
class - added CSS class(es)
css - added custom CSS

}}
<div class="slide list {{class}}" {{#index}}
     data-slide-name="{{name}}"
     data-slide-index="{{.}}"{{/index}}>
    {{#css}}<style>
{{{.}}}
    </style>{{/css}}
    {{#text}}
    <p>
        {{{.}}}
    </p>
    {{/text}}
    {{#ordered}}<ol>{{/ordered}}
    {{^ordered}}<ul>{{/ordered}}
    {{#list}}
        <li>{{{.}}}</li>
    {{/list}}
    {{^ordered}}</ul>{{/ordered}}
    {{#ordered}}</ol>{{/ordered}}
</div>