{{!

Data: 
text - (required) body of the quote (HTML markup)
citation - source of the quote, either as a string or a {source, link} object
index - slide number
class - added CSS class(es)

}}
<div class="slide {{class}}" {{#index}}
     data-slide-index="{{.}}"{{/index}}>
    <blockquote>
        {{{text}}}
        {{#citation}}<cite>
            {{#link}}<a href="{{{.}}}">{{/link}}
            {{{source}}}{{^source}}{{{.}}}{{/source}}
            {{#link}}</a>{{/link}}
        </cite>{{/citation}}
    </blockquote>
</div>